body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

section {
    padding: 1rem;
}

label, input, button {
    display: block;
    margin: 0.5rem 0;
}

input, button {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

#results-section {
    margin-top: 1rem;
}

#results-list {
    list-style: none;
    padding: 0;
}

#results-list li {
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}


#results-list li[data-id="2"] h3 {
    color: red;
}

#results-list li[data-histamine="3"] p {
    color: red;
}

#results-list li[data-histamine="2"] p {
    color: orangered;
}

#results-list li[data-histamine="1"] p {
    color: yellow;
}

#results-list li[data-histamine="0"] p {
    color: green;
}



/* Responsive styles */
@media (max-width: 600px) {
    label, input, button {
        width: 100%;
    }

    #results-list li {
        padding: 0.3rem;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-around;
    }
}